doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/fabric.all.min.js")
    script(src="/javascripts/f.js")
  body
    block content